.container{
    width: 90vw;
    text-transform: capitalize;
    margin: 0 auto;
    padding-bottom: 10vh;
}

.container h4, h5{
    margin: 0;
}

.containerWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.link{
    padding-left: 10px;
    height: 80px;
    background-color: var(--cardBackground);
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.4);
    box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.4);
    transition: 0.15s ease-in-out;
}

.link:hover{
    transform: scale(1.015);
    background-color: var(--hoverColor);
}

.link:active{
    transform: scale(1.05);
}

.link h4{
    position: relative;
    top: 15px;
}

@media only screen and (min-width:600px){
    .container{
        width: 600px;
    }
}