@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


/*Color Palette: https://coolors.co/e0fbfc-c2dfe3-9db4c0-5c6b73-253237*/
:root {
    --bodyBackground: #253237;
    --cardBackground: #5c6b73;
    --textColor: #ffffff;
    --linkColor: #ffffff;
    --hoverColor: #9db4c0;
  }

body{
    margin: 0;
}

html{
    background-color: var(--bodyBackground) ;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--textColor);
    margin-top: 2vh;
}

a{
    text-decoration: none;
    color: var(--linkColor);
}