
.navbar{
    width: 100%;
    background-color: var(--cardBackground);
    position: fixed;
    bottom: 0;

}

.navlist{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    line-height: 8vh;
}

.navbar a {
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    border-right: 1px solid #AAAAAA;
}

.navbar a:hover {
    color: var(--textColor);
}

.navLinkColor{
    color: #AAAAAA
}

.currentNav{
    color: var(--linkColor);
}