.container{
    width: 90vw;
    margin: 0 auto;
}

.container h2, h3, h4{
    margin: 0
}

h3{
    font-weight: lighter;
}

.containerWrapper{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.link{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--cardBackground);
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.4);
    box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.4);
    transition: 0.15s ease-in-out;
}

.link:hover{
    transform: scale(1.025);
}

.link h2 {
    margin-bottom: 3px;
}


/*song-template.css specific*/

.songWrapper {
    background-color: var(--cardBackground);
    padding: 10px;
    border-radius: 5px;
    margin-top: 5vh;
    -webkit-box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.4);
    box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.4);
}

.songtext {
    margin-bottom: 30px;
    margin-top: 30px;
}

.songtext p {
    margin: 0;
    line-height: 20px;
    min-height: 15px;
}

@media only screen and (min-width:450px){
    .container{
        width: 450px;
    }
}